{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up | Log In</title>
    <link rel="stylesheet" href="{% static 'css/estilo_login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
       <div class="title-text">
          <div class="title login">
             Iniciar Sesión
          </div>
          <div class="title signup">
             Registrarse
          </div>
       </div>
       <div class="form-container">
          <div class="slide-controls">
             <input type="radio" name="slide" id="login" checked>
             <input type="radio" name="slide" id="signup">
             <label for="login" class="slide login">Iniciar sesión</label>
             <label for="signup" class="slide signup">Registrarse</label>
             <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
               <form method="POST" class="login">
               {% csrf_token %}
               <div class="field">
                  <input type="email" placeholder="Correo electronico" required>
               </div>
               <div class="field">
                  <input type="password" placeholder="Contraseña" required>
               </div>
               <div class="pass-link">
                  <a href="#">Olvido su contraseña?</a>
               </div>
               <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Login">
               </div>
               <div class="signup-link">
                  No tiene cuenta? <a href="">Crear una nueva</a>
               </div>
               </form>
             <form action="#" class="signup">
                <div class="field">
                   <input type="email" placeholder="Correo electronico" required>
                </div>
                <div class="field">
                   <input type="password" placeholder="Contraseña" required>
                </div>
                <div class="field">
                   <input type="password" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input type="submit" value="SignUp">
                </div>
             </form>
          </div>
       </div>
    </div>
    <script src="{% static 'js/estilo_login.js' %}"></script>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/11.7.3/firebase-app.js";
      import { getAuth, createUserWithEmailAndPassword,signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/11.7.3/firebase-auth.js";
      import { getFirestore, doc, setDoc, getDoc } from "https://www.gstatic.com/firebasejs/11.7.3/firebase-firestore.js";
      
    
      const firebaseConfig = {
        apiKey: "AIzaSyC6oBATkiU7X2FMd8_FZrBJ6phFe5Too-I",
        authDomain: "ferremas-cb091.firebaseapp.com",
        projectId: "ferremas-cb091",
        storageBucket: "ferremas-cb091.firebasestorage.app",
        messagingSenderId: "946559441320",
        appId: "1:946559441320:web:b2b5b6af992b701a28e59d",
        measurementId: "G-LJ6RRJV01P"
      };
    
      const app = initializeApp(firebaseConfig);
      const auth = getAuth(app);
      const db = getFirestore();
    
      document.addEventListener("DOMContentLoaded", () => {
        const signupForm = document.querySelector("form.signup");
        if (signupForm) {
         signupForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const email = signupForm.querySelector("input[type='email']").value;
            const password = signupForm.querySelector("input[type='password']").value;
            const confirmPassword = signupForm.querySelector("input[placeholder='Confirmar Contraseña']").value;

            if (password !== confirmPassword) {
               alert("Las contraseñas no coinciden");
               return; 
            }
    
            createUserWithEmailAndPassword(auth, email, password)
            .then(async (userCredential) => {
               const user = userCredential.user;

               await setDoc(doc(db, "usuarios", user.uid), {
                  correo: user.email,
                  rol: "cliente"
               });

               alert("Usuario registrado correctamente");
               console.log(user);
            })
         
         });
        }



    const loginForm = document.querySelector("form.login");
    if (loginForm) {
         loginForm.addEventListener("submit", (e) => {
         e.preventDefault();
         const email = loginForm.querySelector("input[type='email']").value;
         const password = loginForm.querySelector("input[type='password']").value;

         signInWithEmailAndPassword(auth, email, password)
            .then(async (userCredential) => {
               const user = userCredential.user;
               const token = await user.getIdToken();  

               const form = document.createElement("form");
               form.method = "POST";
               form.action = "/"; 

               const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
               const csrfInput = document.createElement("input");
               csrfInput.type = "hidden";
               csrfInput.name = "csrfmiddlewaretoken";
               csrfInput.value = csrfToken;
               form.appendChild(csrfInput);

               const tokenInput = document.createElement("input");
               tokenInput.type = "hidden";
               tokenInput.name = "token";
               tokenInput.value = token;
               form.appendChild(tokenInput);

               document.body.appendChild(form);
               form.submit();  
            })
            .catch((error) => {
               console.error("Error de inicio de sesión:", error);
               alert("Correo o contraseña inválidos");
            });
         });
     }
  }); 
</script>